#### SOLO PROFILO MEDIO:

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from IPython.display import display


cleaned_buildings = gpd.read_file(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/buildings/cluster_with_buildings.geojson"
)

# Calcolo della densità abitativa su tutta la shape.
house = cleaned_buildings[cleaned_buildings["tags_building"] == "house"]
area_tot = house["area_m2"].sum()
pop_microgrid = (
    93641.59  # Qua devi usare la funzione nel codice per calcolare la popolazione.
)
density = pop_microgrid / area_tot

# Calcolo della house-area per ogni cluster.
grouped_buildings = cleaned_buildings.groupby("cluster_id")
clusters = np.sort(cleaned_buildings["cluster_id"].unique())
house_area_for_cluster = []
for cluster in clusters:
    cluster_buildings = pd.DataFrame(grouped_buildings.get_group(cluster))
    house = cluster_buildings[cluster_buildings["tags_building"] == "house"]
    area_house = house["area_m2"].sum()
    house_area_for_cluster.append(area_house)

# Creazione di un DataFrame con la popolazione suddivisa nei cluster sulla base della densità-area_house
population_df = pd.DataFrame()
population_df["cluster"] = clusters
population_df.set_index("cluster", inplace=True)
population_df["house_area_for_cluster"] = house_area_for_cluster
people_for_cluster = (population_df["house_area_for_cluster"] * density).round()
population_df["people_for_cluster"] = people_for_cluster

display(population_df)

         house_area_for_cluster  people_for_cluster
cluster
0                 167199.174127              7850.0
1                 198012.745308              9297.0
2                 235799.960999             11071.0
3                 233431.361591             10960.0
4                 246815.535349             11588.0
5                 252566.604783             11858.0
6                 231201.805873             10855.0
7                  60611.022440              2846.0
8                 196700.620729              9235.0
9                 172144.398978              8082.0

In [2]:
# Creazione di un DataFrame con la popolazione per ogni cluster suddivisa nei vari Tier
tier_percent = [0.3, 0.2, 0.2, 0.1, 0.15, 0.05]
people_for_cluster = population_df["people_for_cluster"]
tier_pop_df = population_df["people_for_cluster"].apply(
    lambda x: pd.Series([x * y for y in tier_percent])
)

display(tier_pop_df)

              0       1       2       3        4       5
cluster
0        2355.0  1570.0  1570.0   785.0  1177.50  392.50
1        2789.1  1859.4  1859.4   929.7  1394.55  464.85
2        3321.3  2214.2  2214.2  1107.1  1660.65  553.55
3        3288.0  2192.0  2192.0  1096.0  1644.00  548.00
4        3476.4  2317.6  2317.6  1158.8  1738.20  579.40
5        3557.4  2371.6  2371.6  1185.8  1778.70  592.90
6        3256.5  2171.0  2171.0  1085.5  1628.25  542.75
7         853.8   569.2   569.2   284.6   426.90  142.30
8        2770.5  1847.0  1847.0   923.5  1385.25  461.75
9        2424.6  1616.4  1616.4   808.2  1212.30  404.10

In [3]:
# Importazione dei profili medi e della deviazione standard per ogni Tier.
demand_tier_1 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier1.xlsx"
)
demand_tier_2 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier2.xlsx"
)
demand_tier_3 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier3.xlsx"
)
demand_tier_4 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier4.xlsx"
)
demand_tier_5 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier5.xlsx"
)

# Creazione di un DataFrame con tutti i tier e la domanda media oraria per ognuno
mean_demand_tier_df = pd.DataFrame()
demand_tiers = [
    demand_tier_1,
    demand_tier_2,
    demand_tier_3,
    demand_tier_4,
    demand_tier_5,
]

for i, demand_tier in enumerate(demand_tiers, start=1):
    mean_column_name = f"bus_{i}"
    mean_demand_tier_df[mean_column_name] = demand_tier["mean"]
mean_demand_tier_df.insert(0, "bus_0", np.zeros(len(mean_demand_tier_df)))

hours_index = pd.date_range(
    start="00:00:00", periods=len(mean_demand_tier_df), freq="H", normalize=True
)
mean_demand_tier_df.index = hours_index.time

# Creazione di un DataFrame con tutti i tier e la std media oraria per ognuno
std_demand_tier_df = pd.DataFrame()

for i, demand_tier in enumerate(demand_tiers, start=1):
    mean_column_name = f"bus_{i}"
    std_demand_tier_df[mean_column_name] = demand_tier["std"]
std_demand_tier_df.insert(0, "bus_0", np.zeros(len(mean_demand_tier_df)))

std_demand_tier_df.index = hours_index.time

display(mean_demand_tier_df)
display(std_demand_tier_df)

C:\Users\margh\AppData\Local\Temp\ipykernel_12332\3033006911.py:33: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hours_index = pd.date_range(

          bus_0      bus_1      bus_2       bus_3       bus_4       bus_5
00:00:00    0.0   0.000000   0.000000   28.991322   42.427125   42.278934
01:00:00    0.0   0.000000   0.000000   34.521576   50.553214   50.452805
02:00:00    0.0   0.000000   0.000000   36.611001   53.669763   53.635554
03:00:00    0.0   0.000000   0.000000   38.924761   57.097983   57.000288
04:00:00    0.0   0.000032   0.046572   42.550663   62.418339   62.367183
05:00:00    0.0   0.138339   6.277810   60.382878   90.390240   90.930738
06:00:00    0.0   0.596456  31.498172  102.802546  161.313978  164.726412
07:00:00    0.0   0.960828  46.257291  133.108190  237.445624  240.651913
08:00:00    0.0   0.632438  27.723440  116.696750  213.293060  216.459444
09:00:00    0.0   0.171015   9.780120   87.361677  147.039771  162.527548
10:00:00    0.0   0.000037   1.970686   70.358049  119.571389  153.455192
11:00:00    0.0   0.000000   0.378657   64.176355  107.867274  165.594148
12:00:00    0.0   0.000000   2.604944   67.481171  104.619062  176.545124
13:00:00    0.0   0.000000   3.025941   68.320257  105.220843  171.635401
14:00:00    0.0   0.000000   0.462291   64.671473  105.602842  155.098227
15:00:00    0.0   0.000000   0.000000   64.043205  104.179161  124.719700
16:00:00    0.0   0.000000   0.169224   64.511748  114.822568  120.840057
17:00:00    0.0   0.000752   2.751702   76.193668  190.840592  193.291803
18:00:00    0.0   2.804926  14.339936  106.485125  342.751474  353.233635
19:00:00    0.0  10.993129  34.256254  143.163050  394.953618  422.577846
20:00:00    0.0  18.673467  51.291085  148.136709  262.246701  292.748512
21:00:00    0.0  13.031509  49.057609  119.805142  186.632964  211.594512
22:00:00    0.0   3.778114  30.967024   76.793658  120.018975  124.321911
23:00:00    0.0   0.000891  10.944688   42.463074   64.660067   62.859632

          bus_0     bus_1     bus_2     bus_3      bus_4      bus_5
00:00:00    0.0  0.000000  0.000000  0.865204   1.403410   1.424645
01:00:00    0.0  0.000000  0.000000  0.990713   1.454768   1.445946
02:00:00    0.0  0.000000  0.000000  1.057676   1.773486   1.669474
03:00:00    0.0  0.000000  0.000000  1.245038   1.784916   1.793179
04:00:00    0.0  0.000193  0.055545  1.426176   2.050683   1.988202
05:00:00    0.0  0.048147  1.236822  2.257312   3.834563   4.090113
06:00:00    0.0  0.095504  2.652671  4.242210   7.589726   7.596358
07:00:00    0.0  0.110751  3.165970  5.152397  13.336545  12.446711
08:00:00    0.0  0.096623  2.712762  4.803722  12.682301  12.466618
09:00:00    0.0  0.049724  1.583367  3.643800   6.890035  10.493887
10:00:00    0.0  0.000192  0.567784  2.103636   4.685982  11.208586
11:00:00    0.0  0.000000  0.177025  0.906469   3.529421  13.621221
12:00:00    0.0  0.000000  0.574269  1.120774   2.418517  14.848445
13:00:00    0.0  0.000000  0.627555  1.207060   1.830508  11.659296
14:00:00    0.0  0.000000  0.191149  0.907359   1.679930   7.845657
15:00:00    0.0  0.000000  0.000000  0.933199   1.874604   4.163795
16:00:00    0.0  0.000000  0.133111  1.147845   3.860006   7.382736
17:00:00    0.0  0.001737  0.672530  2.868468  12.651944  17.452433
18:00:00    0.0  0.399992  1.855162  4.729210  22.065936  26.334577
19:00:00    0.0  0.625342  2.793704  5.853018  23.432025  26.800623
20:00:00    0.0  0.373223  2.991022  5.842045  12.726173  15.530373
21:00:00    0.0  0.696517  3.134305  5.054964   7.786485  11.695084
22:00:00    0.0  0.516335  2.559148  3.782708   5.639061   5.578898
23:00:00    0.0  0.002073  1.607883  2.248513   3.077476   2.688702

In [4]:
import numpy as np
import pandas as pd

# Creo un dizionario di DataFrame ( uno per ogni coppia tier cluster) ogni colonna del dataframe è il carico giornaliero(orario) di una persona,
# rappresentato dal valore medio

result_dict = {}
for k in range(len(tier_pop_df)):
    pop_cluster = tier_pop_df.iloc[k, :]
    for j in range(len(pop_cluster)):
        num_iterations = int(pop_cluster[j])
        num_rows = len(mean_demand_tier_df)
        num_columns = num_iterations
        loads = np.zeros((num_rows, num_columns))
        for i in range(num_iterations):
            mean_load_person = mean_demand_tier_df.iloc[:, j].values
            load_person = mean_load_person
            loads[:, i] = load_person
        results_df = pd.DataFrame(loads)

        nome_dataframe = f"person_load_cluster_{k}_tier_{j}"
        result_dict[nome_dataframe] = results_df


result_dict["person_load_cluster_0_tier_1"]

,0,1,2,3,4,5,6,7,8,9,...,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,...,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032,0.000032
5,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,...,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339,0.138339
6,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,...,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456,0.596456
7,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,...,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828,0.960828
8,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,...,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438,0.632438
9,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,...,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015,0.171015
10,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,...,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037,0.000037
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,...,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752,0.000752
18,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,...,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926,2.804926
19,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,...,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129,10.993129
20,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,...,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467,18.673467
21,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,...,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509,13.031509
22,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,...,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114,3.778114
23,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,...,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891,0.000891

In [5]:
#  Faccio un DataFrame con i dati cumulati di ogni coppia bus-tier associando a ogni riga il risultato della sommatoria sulle righe.
total_loads_cluster_tier_dict = {}

for k in range(len(tier_pop_df)):
    key_cluster = f"{k}"
    total_loads_cluster_tier_dict[key_cluster] = {}

    for j in range(len(pop_cluster)):
        key_tier = f"{j}"
        load = result_dict[f"person_load_cluster_{key_cluster}_tier_{key_tier}"]
        load_tot = load.sum(axis=1)
        total_loads_df = pd.DataFrame(
            load_tot, columns=[f"bus_{key_cluster}_tier_{key_tier}"]
        )

        total_loads_cluster_tier_dict[key_cluster][key_tier] = total_loads_df

total_loads_cluster_tier_dict["0"]["1"]

    bus_0_tier_1
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.050787
5     217.192605
6     936.436623
7    1508.499523
8     992.927575
9     268.493140
10      0.057956
11      0.000000
12      0.000000
13      0.000000
14      0.000000
15      0.000000
16      0.000000
17      1.180409
18   4403.733943
19  17259.212994
20  29317.343376
21  20459.469179
22   5931.639503
23      1.398457

In [6]:
# Sommo lungo le righe, per ogni cluster, tutti i dataframe relativi ai vari tier di quel cluster per ottener eun carioc unico del cluster
total_loads_cluster = {}

for k in range(len(tier_pop_df)):
    key_cluster = str(k)
    df0 = total_loads_cluster_tier_dict[key_cluster]["0"].values
    df1 = total_loads_cluster_tier_dict[key_cluster]["1"].values
    df2 = total_loads_cluster_tier_dict[key_cluster]["2"].values
    df3 = total_loads_cluster_tier_dict[key_cluster]["3"].values
    df4 = total_loads_cluster_tier_dict[key_cluster]["4"].values
    df5 = total_loads_cluster_tier_dict[key_cluster]["5"].values

    total_load = pd.DataFrame(df0 + df1 + df2 + df3 + df4 + df5, columns=[f"bus_{k}"])
    total_loads_cluster[f"bus_{k}"] = total_load

# Creo un DataFRame unico per ogni cluster.
tot_loads_df = pd.DataFrame()
for key, cluster_load in total_loads_cluster.items():
    tot_loads_df = pd.concat([tot_loads_df, cluster_load], axis=1)

tot_loads_df

,bus_0,bus_1,bus_2,bus_3,bus_4,bus_5,bus_6,bus_7,bus_8,bus_9
0,89268.256376,105693.776182,1.259027e+05,1.246935e+05,1.317898e+05,1.348193e+05,1.234421e+05,32311.099454,105011.147321,91927.353376
1,106378.069835,125951.826220,1.500341e+05,1.485933e+05,1.570496e+05,1.606597e+05,1.471020e+05,38504.095144,125138.359422,109546.862240
2,112934.083999,133714.166601,1.592806e+05,1.577510e+05,1.667286e+05,1.705611e+05,1.561678e+05,40877.091988,132850.566066,116298.205375
3,120104.376115,142203.824717,1.693935e+05,1.677668e+05,1.773143e+05,1.813902e+05,1.660830e+05,43472.413721,141285.393441,123682.078474
4,131389.761348,155565.742460,1.853103e+05,1.835307e+05,1.939753e+05,1.984342e+05,1.816887e+05,47557.259047,154561.012620,135303.618498
5,199508.074339,236219.170938,2.813817e+05,2.786754e+05,2.945367e+05,3.013112e+05,2.758847e+05,72217.932953,234693.575513,205446.850626
6,385527.871538,456472.220794,5.437348e+05,5.384933e+05,5.691489e+05,5.822517e+05,5.331191e+05,139568.672020,453524.264934,396991.389198
7,552431.424403,654097.678128,7.791319e+05,7.716265e+05,8.155616e+05,8.343316e+05,7.639277e+05,199994.242807,649873.445212,568863.366015
8,472023.710160,558892.564758,6.657318e+05,6.593293e+05,6.968688e+05,7.128965e+05,6.527387e+05,170876.455930,555283.097856,486074.876205
9,320978.806656,380044.379733,4.527049e+05,4.483598e+05,4.738802e+05,4.847707e+05,4.438620e+05,116190.765975,377589.855476,330542.599968
10,259215.063798,306911.927057,3.655988e+05,3.621011e+05,3.827064e+05,3.914903e+05,3.584519e+05,93831.076319,304929.622010,266950.413105
11,242845.617835,287526.421971,3.425148e+05,3.392467e+05,3.585459e+05,3.667665e+05,3.358134e+05,87907.368450,285669.232046,250101.576592
12,249404.805627,295288.508400,3.517661e+05,3.484099e+05,3.682264e+05,3.766689e+05,3.448797e+05,90283.993622,293381.155118,256856.908634
13,249508.138528,295411.424290,3.519109e+05,3.485511e+05,3.683767e+05,3.768248e+05,3.450227e+05,90321.019481,293503.297666,256961.052043
14,236585.953452,280115.136769,3.336849e+05,3.304982e+05,3.493003e+05,3.573118e+05,3.271568e+05,85640.500931,278305.840178,243651.940919
15,221782.910372,262591.828146,3.128032e+05,3.098083e+05,3.274381e+05,3.349558e+05,3.066886e+05,80278.790043,260895.797370,228398.811109
16,233422.869061,276378.447929,3.292192e+05,3.260645e+05,3.446247e+05,3.525395e+05,3.227891e+05,84491.327066,274593.423467,240383.294143
17,364523.145092,431619.910655,5.141261e+05,5.092075e+05,5.382066e+05,5.505589e+05,5.040983e+05,131950.676029,428832.278467,375401.134678
18,652394.327894,772492.942886,9.201434e+05,9.113447e+05,9.632588e+05,9.853618e+05,9.022099e+05,236168.506655,767503.829609,671867.254678
19,813935.450607,963758.541701,1.147972e+06,1.136970e+06,1.201728e+06,1.229328e+06,1.125590e+06,294661.500900,957534.254698,838203.983188
20,649553.446510,769090.315028,9.161083e+05,9.072799e+05,9.589363e+05,9.810097e+05,8.982287e+05,235168.038602,764123.454308,668870.576874
21,494138.998865,585068.852430,6.969121e+05,6.901842e+05,7.294762e+05,7.462798e+05,6.833067e+05,178905.431767,581290.471952,508821.904437
22,304829.412365,360924.339440,4.299178e+05,4.257668e+05,4.500069e+05,4.603735e+05,4.215262e+05,110361.177645,358593.499317,313886.469948
23,151263.946464,179099.029447,2.133372e+05,2.112805e+05,2.233081e+05,2.284492e+05,2.091718e+05,54758.803659,177942.384558,155761.511722

### CON STD

In [7]:
import geopandas as gpd
import pandas as pd
import numpy as np
from IPython.display import display

cleaned_buildings = gpd.read_file(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/buildings/cluster_with_buildings.geojson"
)

# Calcolo della densità abitativa su tutta la shape.
house = cleaned_buildings[cleaned_buildings["tags_building"] == "house"]
area_tot = house["area_m2"].sum()
pop_microgrid = (
    93641.59  # Qua devi usare la funzione nel codice per calcolare la popolazione.
)
density = pop_microgrid / area_tot

# Calcolo della house-area per ogni cluster.
grouped_buildings = cleaned_buildings.groupby("cluster_id")
clusters = np.sort(cleaned_buildings["cluster_id"].unique())
house_area_for_cluster = []
for cluster in clusters:
    cluster_buildings = pd.DataFrame(grouped_buildings.get_group(cluster))
    house = cluster_buildings[cluster_buildings["tags_building"] == "house"]
    area_house = house["area_m2"].sum()
    house_area_for_cluster.append(area_house)

# Creazione di un DataFrame con la popolazione suddivisa nei cluster sulla base della densità-area_house
population_df = pd.DataFrame()
population_df["cluster"] = clusters
population_df.set_index("cluster", inplace=True)
population_df["house_area_for_cluster"] = house_area_for_cluster
people_for_cluster = (population_df["house_area_for_cluster"] * density).round()
population_df["people_for_cluster"] = people_for_cluster

display(population_df)

         house_area_for_cluster  people_for_cluster
cluster
0                 167199.174127              7850.0
1                 198012.745308              9297.0
2                 235799.960999             11071.0
3                 233431.361591             10960.0
4                 246815.535349             11588.0
5                 252566.604783             11858.0
6                 231201.805873             10855.0
7                  60611.022440              2846.0
8                 196700.620729              9235.0
9                 172144.398978              8082.0

In [8]:
# Creazione di un DataFrame con la popolazione per ogni cluster suddivisa nei vari Tier
tier_percent = [0.3, 0.2, 0.2, 0.1, 0.15, 0.05]
people_for_cluster = population_df["people_for_cluster"]
tier_pop_df = population_df["people_for_cluster"].apply(
    lambda x: pd.Series([x * y for y in tier_percent])
)

display(tier_pop_df)

              0       1       2       3        4       5
cluster
0        2355.0  1570.0  1570.0   785.0  1177.50  392.50
1        2789.1  1859.4  1859.4   929.7  1394.55  464.85
2        3321.3  2214.2  2214.2  1107.1  1660.65  553.55
3        3288.0  2192.0  2192.0  1096.0  1644.00  548.00
4        3476.4  2317.6  2317.6  1158.8  1738.20  579.40
5        3557.4  2371.6  2371.6  1185.8  1778.70  592.90
6        3256.5  2171.0  2171.0  1085.5  1628.25  542.75
7         853.8   569.2   569.2   284.6   426.90  142.30
8        2770.5  1847.0  1847.0   923.5  1385.25  461.75
9        2424.6  1616.4  1616.4   808.2  1212.30  404.10

In [9]:
# Importazione dei profili medi e della deviazione standard per ogni Tier.
demand_tier_1 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier1.xlsx"
)
demand_tier_2 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier2.xlsx"
)
demand_tier_3 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier3.xlsx"
)
demand_tier_4 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier4.xlsx"
)
demand_tier_5 = pd.read_excel(
    "C:/Users/margh/Desktop/pypsa/pypsa-distribution/resources/ramp/daily_type_demand_Tier5.xlsx"
)

# Creazione di un DataFrame con tutti i tier e la domanda media oraria per ognuno
mean_demand_tier_df = pd.DataFrame()
demand_tiers = [
    demand_tier_1,
    demand_tier_2,
    demand_tier_3,
    demand_tier_4,
    demand_tier_5,
]

for i, demand_tier in enumerate(demand_tiers, start=1):
    mean_column_name = f"bus_{i}"
    mean_demand_tier_df[mean_column_name] = demand_tier["mean"]
mean_demand_tier_df.insert(0, "bus_0", np.zeros(len(mean_demand_tier_df)))

hours_index = pd.date_range(
    start="00:00:00", periods=len(mean_demand_tier_df), freq="H", normalize=True
)
mean_demand_tier_df.index = hours_index.time

# Creazione di un DataFrame con tutti i tier e la std media oraria per ognuno
std_demand_tier_df = pd.DataFrame()

for i, demand_tier in enumerate(demand_tiers, start=1):
    mean_column_name = f"bus_{i}"
    std_demand_tier_df[mean_column_name] = demand_tier["std"]
std_demand_tier_df.insert(0, "bus_0", np.zeros(len(mean_demand_tier_df)))

std_demand_tier_df.index = hours_index.time

display(mean_demand_tier_df)
display(std_demand_tier_df)

C:\Users\margh\AppData\Local\Temp\ipykernel_12332\3033006911.py:33: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hours_index = pd.date_range(

          bus_0      bus_1      bus_2       bus_3       bus_4       bus_5
00:00:00    0.0   0.000000   0.000000   28.991322   42.427125   42.278934
01:00:00    0.0   0.000000   0.000000   34.521576   50.553214   50.452805
02:00:00    0.0   0.000000   0.000000   36.611001   53.669763   53.635554
03:00:00    0.0   0.000000   0.000000   38.924761   57.097983   57.000288
04:00:00    0.0   0.000032   0.046572   42.550663   62.418339   62.367183
05:00:00    0.0   0.138339   6.277810   60.382878   90.390240   90.930738
06:00:00    0.0   0.596456  31.498172  102.802546  161.313978  164.726412
07:00:00    0.0   0.960828  46.257291  133.108190  237.445624  240.651913
08:00:00    0.0   0.632438  27.723440  116.696750  213.293060  216.459444
09:00:00    0.0   0.171015   9.780120   87.361677  147.039771  162.527548
10:00:00    0.0   0.000037   1.970686   70.358049  119.571389  153.455192
11:00:00    0.0   0.000000   0.378657   64.176355  107.867274  165.594148
12:00:00    0.0   0.000000   2.604944   67.481171  104.619062  176.545124
13:00:00    0.0   0.000000   3.025941   68.320257  105.220843  171.635401
14:00:00    0.0   0.000000   0.462291   64.671473  105.602842  155.098227
15:00:00    0.0   0.000000   0.000000   64.043205  104.179161  124.719700
16:00:00    0.0   0.000000   0.169224   64.511748  114.822568  120.840057
17:00:00    0.0   0.000752   2.751702   76.193668  190.840592  193.291803
18:00:00    0.0   2.804926  14.339936  106.485125  342.751474  353.233635
19:00:00    0.0  10.993129  34.256254  143.163050  394.953618  422.577846
20:00:00    0.0  18.673467  51.291085  148.136709  262.246701  292.748512
21:00:00    0.0  13.031509  49.057609  119.805142  186.632964  211.594512
22:00:00    0.0   3.778114  30.967024   76.793658  120.018975  124.321911
23:00:00    0.0   0.000891  10.944688   42.463074   64.660067   62.859632

          bus_0     bus_1     bus_2     bus_3      bus_4      bus_5
00:00:00    0.0  0.000000  0.000000  0.865204   1.403410   1.424645
01:00:00    0.0  0.000000  0.000000  0.990713   1.454768   1.445946
02:00:00    0.0  0.000000  0.000000  1.057676   1.773486   1.669474
03:00:00    0.0  0.000000  0.000000  1.245038   1.784916   1.793179
04:00:00    0.0  0.000193  0.055545  1.426176   2.050683   1.988202
05:00:00    0.0  0.048147  1.236822  2.257312   3.834563   4.090113
06:00:00    0.0  0.095504  2.652671  4.242210   7.589726   7.596358
07:00:00    0.0  0.110751  3.165970  5.152397  13.336545  12.446711
08:00:00    0.0  0.096623  2.712762  4.803722  12.682301  12.466618
09:00:00    0.0  0.049724  1.583367  3.643800   6.890035  10.493887
10:00:00    0.0  0.000192  0.567784  2.103636   4.685982  11.208586
11:00:00    0.0  0.000000  0.177025  0.906469   3.529421  13.621221
12:00:00    0.0  0.000000  0.574269  1.120774   2.418517  14.848445
13:00:00    0.0  0.000000  0.627555  1.207060   1.830508  11.659296
14:00:00    0.0  0.000000  0.191149  0.907359   1.679930   7.845657
15:00:00    0.0  0.000000  0.000000  0.933199   1.874604   4.163795
16:00:00    0.0  0.000000  0.133111  1.147845   3.860006   7.382736
17:00:00    0.0  0.001737  0.672530  2.868468  12.651944  17.452433
18:00:00    0.0  0.399992  1.855162  4.729210  22.065936  26.334577
19:00:00    0.0  0.625342  2.793704  5.853018  23.432025  26.800623
20:00:00    0.0  0.373223  2.991022  5.842045  12.726173  15.530373
21:00:00    0.0  0.696517  3.134305  5.054964   7.786485  11.695084
22:00:00    0.0  0.516335  2.559148  3.782708   5.639061   5.578898
23:00:00    0.0  0.002073  1.607883  2.248513   3.077476   2.688702

In [10]:
import numpy as np
import pandas as pd


result_dict = {}

for k in range(len(tier_pop_df)):
    pop_cluster = tier_pop_df.iloc[k, :]
    for j in range(len(pop_cluster)):
        num_iterations = int(pop_cluster[j])
        num_rows = len(mean_demand_tier_df)
        num_columns = num_iterations
        loads = np.zeros((num_rows, num_columns))
        for i in range(num_iterations):
            mean_load_person = mean_demand_tier_df.iloc[:, j].values
            std_load_person = np.random.normal(
                0, mean_demand_tier_df.iloc[:, j].values[:num_rows]
            )
            load_person = mean_load_person + std_load_person
            loads[:, i] = load_person
        results_df = pd.DataFrame(loads)

        nome_dataframe = f"person_load_cluster_{k}_tier_{j}"
        result_dict[nome_dataframe] = results_df


result_dict["person_load_cluster_0_tier_1"]

,0,1,2,3,4,5,6,7,8,9,...,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
4,0.000025,0.000071,-0.000003,-0.000012,0.000081,-0.000018,0.000011,0.000079,0.000007,0.000046,...,0.000060,-7.139280e-07,0.000046,0.000035,-0.000007,-0.000004,0.000009,0.000058,1.110767e-04,0.000011
5,0.217141,0.237935,0.174233,-0.016584,-0.075075,0.110636,0.062452,-0.198969,0.068507,0.228773,...,0.175090,1.072757e-01,0.103430,0.018845,0.334769,-0.017013,0.426977,0.237003,7.344750e-02,0.066650
6,0.939072,0.422109,0.275598,0.399452,0.660856,0.618188,0.012545,1.599381,0.072003,-0.294878,...,0.499554,8.752231e-01,0.802658,0.378417,1.210443,0.305815,-0.213234,0.735098,7.965065e-01,0.641653
7,1.633466,-0.491798,0.674120,1.661171,0.769262,1.220812,0.303457,1.224325,0.399829,0.344052,...,1.283208,2.528529e+00,-0.083167,1.367685,1.712408,0.504942,-0.462136,1.920327,1.007276e+00,2.110558
8,0.481599,1.431093,0.461544,0.644469,1.284563,-0.103409,0.490392,0.272925,0.691221,0.547744,...,0.696789,1.915479e-01,0.177414,1.620566,0.203944,-0.308277,0.728710,0.472468,1.096344e-01,0.692918
9,0.186697,0.278571,0.192430,0.284590,0.065272,0.198870,0.170431,0.284941,0.042803,0.157265,...,0.061752,5.514548e-02,0.183488,0.254755,0.240351,0.226633,0.301253,0.292216,2.197946e-01,0.047553
10,0.000033,0.000123,-0.000017,0.000071,-0.000006,0.000023,0.000040,0.000126,0.000101,0.000019,...,0.000053,-2.851533e-05,0.000085,-0.000025,-0.000009,0.000106,0.000063,-0.000002,2.177994e-07,-0.000047
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
17,0.000645,0.001107,0.000460,0.001337,-0.000584,0.000360,0.001405,0.000285,0.001678,0.001292,...,0.001927,-7.587817e-04,-0.000830,0.000894,0.001225,0.000586,0.001168,0.001972,6.130242e-04,0.000298
18,-0.434097,2.349590,-1.798622,1.641562,5.501280,6.935106,4.904053,-1.481051,3.677227,4.913077,...,-1.606583,7.474799e+00,1.643185,2.812167,-5.144253,5.392690,2.006963,7.971827,7.538941e+00,11.005095
19,-1.998781,9.422641,19.902723,2.475732,2.675168,9.932338,-1.568350,12.810065,12.240289,21.943577,...,18.755827,9.748169e+00,3.509831,-0.916164,10.892633,23.367044,22.614363,16.466137,-1.207828e+00,13.213985
20,8.886580,16.493095,32.622647,-31.639130,22.492116,11.870233,11.349698,3.243934,84.963471,40.434022,...,26.638180,4.820237e+01,8.624419,26.718801,11.974900,-6.401285,15.530854,9.250529,4.544743e+01,29.302709
21,12.650071,29.216262,14.036772,-1.734204,-1.633244,24.741480,13.248011,9.760567,-0.551712,20.527037,...,28.258203,9.070046e+00,10.528520,22.609535,13.206983,7.952259,38.386144,12.063485,3.304177e+01,-5.401465
22,4.535877,0.492398,12.244977,6.517532,3.494524,7.109298,7.643277,7.381929,0.662328,2.856614,...,-0.640375,8.577526e+00,5.827411,6.873548,-2.184796,1.728411,5.555710,-0.680263,4.593315e+00,-0.090367
23,0.000949,0.000066,0.002874,0.001864,0.000485,0.000846,-0.000161,0.000279,0.002479,-0.000652,...,0.001795,9.838378e-04,-0.000249,0.001153,0.002825,0.000049,0.002387,0.000351,4.915578e-04,-0.000093

In [11]:
total_loads_cluster_tier_dict = {}

# Iterating over each cluster (key_cluster)
for k in range(len(tier_pop_df)):
    key_cluster = f"{k}"
    total_loads_cluster_tier_dict[key_cluster] = (
        {}
    )  # Create a nested dictionary for the current key_cluster

    # Iterating over each tier (key_tier)
    for j in range(len(pop_cluster)):
        key_tier = f"{j}"
        load = result_dict[f"person_load_cluster_{key_cluster}_tier_{key_tier}"]
        load_tot = load.sum(axis=1)
        total_loads_df = pd.DataFrame(
            load_tot, columns=[f"bus_{key_cluster}_tier_{key_tier}"]
        )

        # Store the dataframe in the nested dictionary
        total_loads_cluster_tier_dict[key_cluster][key_tier] = total_loads_df

total_loads_cluster_tier_dict["0"]["1"]

    bus_0_tier_1
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.048698
5     213.929714
6     923.935033
7    1576.180579
8     987.684956
9     267.420131
10      0.059851
11      0.000000
12      0.000000
13      0.000000
14      0.000000
15      0.000000
16      0.000000
17      1.167148
18   4494.881996
19  17265.947356
20  29396.249310
21  21150.888264
22   5712.176764
23      1.369401

In [15]:
total_loads_cluster = {}

for k in range(len(tier_pop_df)):
    key_cluster = str(k)
    df0 = total_loads_cluster_tier_dict[key_cluster]["0"].values
    df1 = total_loads_cluster_tier_dict[key_cluster]["1"].values
    df2 = total_loads_cluster_tier_dict[key_cluster]["2"].values
    df3 = total_loads_cluster_tier_dict[key_cluster]["3"].values
    df4 = total_loads_cluster_tier_dict[key_cluster]["4"].values
    df5 = total_loads_cluster_tier_dict[key_cluster]["5"].values

    total_load = pd.DataFrame(df0 + df1 + df2 + df3 + df4 + df5, columns=[f"bus_{k}"])
    total_loads_cluster[f"bus_{k}"] = total_load

tot_loads_df = pd.DataFrame()
for key, cluster_load in total_loads_cluster.items():
    tot_loads_df = pd.concat([tot_loads_df, cluster_load], axis=1)

tot_loads_df

,bus_0,bus_1,bus_2,bus_3,bus_4,bus_5,bus_6,bus_7,bus_8,bus_9
0,89572.356959,102954.893599,1.244788e+05,1.263605e+05,1.339282e+05,1.388575e+05,1.214362e+05,32556.951437,105914.411646,93611.940450
1,104532.557737,127633.922712,1.503380e+05,1.464852e+05,1.588193e+05,1.621242e+05,1.447333e+05,39478.885705,128635.626783,111046.185282
2,108578.532844,134511.005228,1.566454e+05,1.549807e+05,1.646894e+05,1.707079e+05,1.514091e+05,40796.800509,130732.007202,117846.018857
3,120481.045694,138517.981314,1.721839e+05,1.696769e+05,1.756384e+05,1.810397e+05,1.627788e+05,42175.150590,139447.105961,125805.893260
4,131869.468413,158308.288303,1.878493e+05,1.868255e+05,1.969221e+05,1.988049e+05,1.865026e+05,47780.730584,153243.060287,136778.946071
5,197746.887340,240448.548824,2.858999e+05,2.830228e+05,2.943941e+05,3.089477e+05,2.747518e+05,70446.065858,240049.860131,206351.339806
6,387316.356334,461575.393861,5.244259e+05,5.412797e+05,5.571132e+05,5.760938e+05,5.423145e+05,142137.419176,471222.079619,386681.500233
7,548535.194297,658137.587860,7.630818e+05,7.675609e+05,8.007045e+05,8.399287e+05,7.927242e+05,200128.211221,665302.418805,563017.021624
8,478895.481160,557855.514314,6.596881e+05,6.593867e+05,6.771390e+05,7.151059e+05,6.581784e+05,165886.014663,554776.671048,468142.662222
9,326864.902423,386908.459206,4.691687e+05,4.544872e+05,4.862620e+05,4.841408e+05,4.398614e+05,118234.955883,366022.633030,331641.859427
10,251321.125774,310074.437049,3.676369e+05,3.599100e+05,3.742057e+05,3.885524e+05,3.487912e+05,94643.428919,298706.580795,256522.123389
11,244514.820524,286419.306669,3.393052e+05,3.402032e+05,3.638533e+05,3.780247e+05,3.322806e+05,88428.298749,296832.757878,250406.661622
12,252050.240711,296604.297794,3.570458e+05,3.507509e+05,3.750059e+05,3.788411e+05,3.479519e+05,95712.311121,293492.892687,255616.755909
13,252433.818981,296740.498328,3.440993e+05,3.464267e+05,3.699004e+05,3.723319e+05,3.407132e+05,90334.250914,286023.880351,250030.046400
14,239324.548343,281849.643152,3.299866e+05,3.299195e+05,3.494181e+05,3.477234e+05,3.184039e+05,93370.157965,280948.310216,249452.439880
15,222044.678692,262094.166150,3.148151e+05,3.183003e+05,3.177545e+05,3.345706e+05,3.132896e+05,84267.091818,261037.818911,223984.353541
16,236555.273675,272436.429983,3.270629e+05,3.146335e+05,3.452453e+05,3.545383e+05,3.175064e+05,85553.269163,284651.656851,240520.209148
17,362774.501873,436850.836434,5.163330e+05,5.019386e+05,5.418630e+05,5.396675e+05,5.086897e+05,135347.529730,412619.124313,373587.998437
18,672646.653989,754592.069888,9.290549e+05,8.929155e+05,9.853309e+05,9.984377e+05,8.913295e+05,231955.658791,735254.346136,696914.244534
19,788578.154280,949998.214756,1.151826e+06,1.117126e+06,1.221414e+06,1.217133e+06,1.096765e+06,308434.764336,977773.439477,854797.104348
20,668196.664839,776322.111545,9.319835e+05,9.028743e+05,9.665206e+05,9.771386e+05,9.152871e+05,231493.597740,753713.583295,686909.306769
21,497084.256831,570537.636522,6.942478e+05,6.958852e+05,7.322072e+05,7.345169e+05,6.678383e+05,182409.425888,573538.301639,506846.222411
22,307155.146881,344876.376133,4.280240e+05,4.260845e+05,4.495964e+05,4.629803e+05,4.201621e+05,113043.394099,354653.946018,321365.337967
23,156024.977262,178567.524388,2.108926e+05,2.124327e+05,2.231646e+05,2.315836e+05,2.072852e+05,54631.483486,180445.388376,158217.796842

In [13]:
date_range = pd.date_range(start="2013-01-01", end="2013-12-31", freq="D")
yearly_mean_demand_tier_df = pd.concat(
    [tot_loads_df] * len(date_range), ignore_index=True
)
date_time_index = pd.date_range(start="2013-01-01", end="2013-12-31 23:00:00", freq="H")
yearly_mean_demand_tier_df.index = date_time_index

display(yearly_mean_demand_tier_df)

C:\Users\margh\AppData\Local\Temp\ipykernel_12332\2013365005.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_time_index = pd.date_range(start="2013-01-01", end="2013-12-31 23:00:00", freq="H")

,bus_0,bus_1,bus_2,bus_3,bus_4,bus_5,bus_6,bus_7,bus_8,bus_9
2013-01-01 00:00:00,89572.356959,102954.893599,1.244788e+05,1.263605e+05,1.339282e+05,1.388575e+05,1.214362e+05,32556.951437,105914.411646,93611.940450
2013-01-01 01:00:00,104532.557737,127633.922712,1.503380e+05,1.464852e+05,1.588193e+05,1.621242e+05,1.447333e+05,39478.885705,128635.626783,111046.185282
2013-01-01 02:00:00,108578.532844,134511.005228,1.566454e+05,1.549807e+05,1.646894e+05,1.707079e+05,1.514091e+05,40796.800509,130732.007202,117846.018857
2013-01-01 03:00:00,120481.045694,138517.981314,1.721839e+05,1.696769e+05,1.756384e+05,1.810397e+05,1.627788e+05,42175.150590,139447.105961,125805.893260
2013-01-01 04:00:00,131869.468413,158308.288303,1.878493e+05,1.868255e+05,1.969221e+05,1.988049e+05,1.865026e+05,47780.730584,153243.060287,136778.946071
...,...,...,...,...,...,...,...,...,...,...
2013-12-31 19:00:00,788578.154280,949998.214756,1.151826e+06,1.117126e+06,1.221414e+06,1.217133e+06,1.096765e+06,308434.764336,977773.439477,854797.104348
2013-12-31 20:00:00,668196.664839,776322.111545,9.319835e+05,9.028743e+05,9.665206e+05,9.771386e+05,9.152871e+05,231493.597740,753713.583295,686909.306769
2013-12-31 21:00:00,497084.256831,570537.636522,6.942478e+05,6.958852e+05,7.322072e+05,7.345169e+05,6.678383e+05,182409.425888,573538.301639,506846.222411
2013-12-31 22:00:00,307155.146881,344876.376133,4.280240e+05,4.260845e+05,4.495964e+05,4.629803e+05,4.201621e+05,113043.394099,354653.946018,321365.337967
2013-12-31 23:00:00,156024.977262,178567.524388,2.108926e+05,2.124327e+05,2.231646e+05,2.315836e+05,2.072852e+05,54631.483486,180445.388376,158217.796842